include header.jade
body
    p
        | 上啊胡搜人  几十块bn b
        | sjkshkhsj
        | dsajkdjksa
        label
            span 用户名
            input(type="text" placeholder='请输入用户名')
    ul
        li
            a(href="") 上海市人民政府
                img(src="" alt="")

    #div
        //此处需要注释
        //- 此处注释不解析
        dl
            dt
                a(href="") 大家真的很好
            dd
                p(data-url="hello world")
            //
                .desc
                    p 长注释

    ul
        li.first
            a(href='#',title="云南南讯科技") foo
        li
            a(href='#') bar
        li.last
            a(href='#') baz

    - var friends = 5
    case friends
        when 0: p you have no friends
        when 1: p you have a friend
        default: p you have #{friends} friends

    - var foo = 'bar';
        = foo
        h1 = foo
    ul
        - var items = ['one','two','three'];
            each item in items
                li #{item}

        - var item2 = ['张三','李四','王五'];
            each item,i in items
                li #{item}:#{i}

    #test
        ul
            - var obj = {foo:'bar'}
            each val,key in obj
                li #{key}:#{val}

    mark 完了
    mark 真万